/* navbar */
 
#newBar {
    position: sticky;
    top: 0;
    background-color: rgb(212, 0, 0);
  
  }
  
  .navbar-nav li {
  
    padding: 0 10px;
  }
  
  .navbar-nav li a {
    color: rgb(6, 179, 9) !important;
    float: right;
    text-align: left;
  }
  
  #newBar ul li a:hover {
    color: rgb(0, 15, 180) !important;
  
  }
  
  .navbar-toggler {
  
    border: none;
  }
  
  .nav-link {
  
    color: rgb(0, 30, 200) !important;
    font-weight: 16px;
  }
  
  .imgLogo {
    width: 100px;
  }
  
  .navbar .nav-item a {
    color: rgb(0, 0, 0) !important;
  }
  
  
  /* Reception */
  #Reception p {
  
    color: red;
    font-weight: 500;
  
  
  
  }
  
  
  #Reception h1 {
  
    color: blue !important;
    font-weight: 800;
    text-decoration: underline;
  
  }
  
  
  /* MARIO IMAGE */
  .col-md-5 img {
    width: 100%;
  }
  
  
  body {
  
    background-color: rgb(0, 0, 0);
    
  }
  
  body h1{

    font-family: 'Poor Story', cursive;
  }

 body p {

  font-family: 'Mukta', sans-serif;
 } 

 .cr {

  font-family: 'Mukta', sans-serif;
 }

  /* ReVIEW SECTION */
  
  .Da {
  
    color: blue !important;
    text-align: center;
    font-weight: 800;
    text-decoration: underline;
  }
  
  .fa {
    margin-right: 10px;
    margin-left: 10px;
  }
  
  .lk {
  
    color: blue !important;
    font-weight: 800;
    text-decoration: underline;
  }
  
  /* CARDS  */
  
  .card {
  
  
    background-color: red;
    
  
  }
  
  .card p{
  
    font-weight: 500;
  }
  
  .card h1{
  
    color: black !important;
    font-weight: 900;
    
  }
  
  
  
  .card:hover {
  
    box-shadow: 5px 6px 6px 2px #010101;
    transform: scale(0.95);
  
  }
  
  .na {
  
    border-radius: 20px;
    background: #f50000a0;
    padding: 5px;
  }
  
  /* This is for the footer*/
  
  
  body .footer {
    z-index: 1;
    --footer-background: #c60014;
    display: grid;
    position: relative;
    grid-area: footer;
    min-height: 12rem;
  }
  
  body .footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: var(--footer-background);
    filter: url("#blob");
  }
  
  body .footer .bubbles .bubble {
    position: absolute;
    left: var(--position, 50%);
    background: var(--footer-background);
    border-radius: 100%;
    -webkit-animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    animation: bubble-size var(--time, 4s) ease-in infinite var(--delay, 0s), bubble-move var(--time, 4s) ease-in infinite var(--delay, 0s);
    transform: translate(-50%, 100%);
  }
  
  body .footer .content {
    z-index: 2;
    display: grid;
    grid-template-columns: 1fr auto;
    grid-gap: 4rem;
    padding: 2rem;
    background: var(--footer-background);
  }
  
  body .footer .content a,
  body .footer .content p {
    color: #f5f7fa;
    text-decoration: none;
  }
  
  body .footer .content b {
    color: white;
  }
  
  body .footer .content p {
    margin: 0;
    font-size: 0.75rem;
  }
  
  body .footer .content>div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  body .footer .content>div>div {
    margin: 0.25rem 0;
  }
  
  body .footer .content>div>div>* {
    margin-right: 0.5rem;
  }
  
  body .footer .content>div .image {
    align-self: center;
    width: 4rem;
    height: 4rem;
    margin: 0.25rem 0;
    background-size: cover;
    background-position: center;
  }
  
  @-webkit-keyframes bubble-size {
  
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
  
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @keyframes bubble-size {
  
    0%,
    75% {
      width: var(--size, 4rem);
      height: var(--size, 4rem);
    }
  
    100% {
      width: 0rem;
      height: 0rem;
    }
  }
  
  @-webkit-keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
  
    100% {
      bottom: var(--distance, 10rem);
    }
  }
  
  @keyframes bubble-move {
    0% {
      bottom: -4rem;
    }
  
    100% {
      bottom: var(--distance, 10rem);
    }
  }